In [ ]:
SQL

In [ ]:
#Task 1
SELECT * 
FROM CITY
WHERE ID = 1661

In [ ]:
#Task 2
SELECT * 
FROM CITY
WHERE COUNTRYCODE = "USA"
AND POPULATION > 100000

In [ ]:
#Task 3
SELECT * 
FROM CITY
WHERE COUNTRYCODE = "JPN"

In [ ]:
#Task 4
SELECT NAME
FROM CITY
WHERE COUNTRYCODE = "JPN"

In [ ]:
#Task 5
SELECT CITY, STATE
FROM STATION

In [ ]:
#Task 6
SELECT DISTINCT CITY
FROM STATION
WHERE MOD(ID, 2) = 0

In [ ]:
#TASK 7
SELECT DISTINCT CITY, LENGTH(CITY) AS LEN
FROM STATION
ORDER BY LENGTH(CITY) ASC, CITY ASC
LIMIT 1;

SELECT DISTINCT CITY, LENGTH(CITY) AS LEN
FROM STATION
ORDER BY LENGTH(CITY) DESC, CITY ASC
LIMIT 1;

In [ ]:
#TASK 8
SELECT DISTINCT CITY
FROM STATION
WHERE LOWER(CITY) LIKE "a%"
OR LOWER(CITY) LIKE "e%"
OR LOWER(CITY) LIKE "i%" 
OR LOWER(CITY) LIKE "o%" 
OR LOWER(CITY) LIKE "u%"

In [ ]:
#TASK 9
SELECT DISTINCT CITY
FROM STATION
WHERE LOWER(CITY) LIKE "%a"
OR LOWER(CITY) LIKE "%e"
OR LOWER(CITY) LIKE "%i" 
OR LOWER(CITY) LIKE "%o" 
OR LOWER(CITY) LIKE "%u"

In [ ]:
#TASK 10
SELECT DISTINCT CITY
FROM STATION
WHERE LOWER(CITY) LIKE "a%%a"
OR LOWER(CITY) LIKE "e%%e"
OR LOWER(CITY) LIKE "i%%i" 
OR LOWER(CITY) LIKE "o%%o" 
OR LOWER(CITY) LIKE "u%%u"

In [ ]:
Python

In [12]:
#TASK 1
if __name__ == '__main__':
    n = int(input("Enter n: "))
    if n%2 == 1:
        print("Weird")
    elif (2<=n<=5):
        print("Not Weird")
    elif (6<=n<=20):
        print("Weird")
    elif (n>20):
        print("Not Weird")

Enter n: 1
Weird

In [14]:
#TASK 2
if __name__ == '__main__':
    a = int(input("Enter a: "))
    b = int(input("Enter b: "))
    print("sum:",a+b)
    print("sub:",a-b)
    print("mul:",a*b)

Enter a: 2
Enter b: 3
sum: 5
sub: -1
mul: 6

In [16]:
#TASK 3
if __name__ == '__main__':
    n = int(input("Enter n: "))
    for i in range(1,n+1):
        print(i*i)

Enter n: 6
1
4
9
16
25
36

In [35]:
#TASK 4
def is_leap(year):
    if ((year%4 == 0) and (year % 100!= 0)) or (year%400 == 0):
        return True
    else:
        return False
is_leap(2200)

False

In [30]:
#TASK 5
if __name__ == '__main__':
    n = int(input("Enter n: "))
    a = []
    for i in range(n):
        a.append(int(input("Enter a[%d]: " %(i)))) 
    print(sorted(a)[n-2])

Enter n: 4
Enter a[0]:12
Enter a[1]:34
Enter a[2]:13
Enter a[3]:24
24

In [ ]:
LAP

In [ ]:
BASIC PYTHON

In [36]:
#BÃ i 3
arr =  [(1, 3), (5, 8), (4, 10), (20, 25)]
arr = sorted(arr)
m = [] 
start = arr[0][0]
end = arr[0][1]
for i in range(1,len(arr)): 
    a = arr[i] 
    if a[0] > end: 
        m.append((start,end)) 
        end = a[1] 
        start = a[0] 
    else: 
        if a[1] >= end: 
            end = a[1] 
m.append((start, end)) 
print(m)

[(1, 3), (4, 10), (20, 25)]

In [ ]:
Basic SQL

In [ ]:
Multi-table queries with JOINs

In [ ]:
#List first 10 tracks and its album's title order by track's name
data = pd.read_sql_query('''SELECT Name, Title 
                            FROM tracks INNER JOIN albums ON tracks.AlbumId = albums.AlbumId 
                            ORDER BY Name
                            LIMIT 10''', conn)

In [ ]:
Queries with aggregates

In [ ]:
# Find the revenue of 2013
data = pd.read_sql_query('''SELECT SUM(Total) as revenue 
                            FROM invoices
                            WHERE InvoiceDate LIKE "%2013%"''', conn)

In [ ]:
# Find the number of tracks belong to the genre Rock
pd.read_sql_query('''SELECT COUNT(t.TrackId) as count 
                            FROM tracks as t, genres as g
                            WHERE t.GenreId = g.GenreId
                            AND g.Name = "Rock"''', conn)

In [ ]:
# Find the number of customers each employee has supported
pd.read_sql_query('''SELECT e.FirstName, e.LastName, COUNT(c.CustomerId) as count 
                            FROM customers as c, employees as e
                            WHERE c.SupportRepId = e.EmployeeId
                            GROUP BY e.FirstName, e.LastName''', conn)

In [ ]:
# Find the customer who paid the most
pd.read_sql_query('''SELECT c.FirstName, c.LastName, SUM(i.Total) as sum 
                            FROM customers as c, invoices as i
                            WHERE c.CustomerId = i.CustomerId
                            GROUP BY c.FirstName, c.LastName
                            ORDER BY sum DESC
                            LIMIT 1''', conn)